*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.head-tag{
    font-size:50px;
}
.orange-color{
    color:rgb(247, 136, 73);
}
.half-width{
    width:30%;
    float:left;
    margin-left:5%;
    padding:5%;
}
.half-width img{
    width:100%;
}
.anchor{
    text-decoration:none;
    background-color:tomato;
    color:white;
    background-image:linear-gradient(45deg, rgb(240, 112, 0),rgb(235, 95, 90));
    padding:5px 15px;
    border-radius:5px;
}
.top-banner{
    background-image:url(Images/top-banner.png) ;
    background-repeat:no-repeat;
    height: 500px;
}
