body{
    font-family: 'Poppins', sans-serif;
}
.head-tag{
    font-size:40px;
}
.orange-color{
    color:rgb(247, 136, 73);
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
}
.half-width img{
    width:100%;
}